<div class="footer-container">
  <div data-aos="fade-down"
     data-aos-anchor="#contact-anchor"
     data-aos-offset="150"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1250" class="info">
    <a href="https://brutalist-web.design/" target="_blank"><p>What is Brutalist web design?</p></a>
  </div>
</div>
