<div class="grid-container">
  <div class="header-text">
    <h1>Hi, I'm Adam.</h1>
  </div>
  <div class="header-info">
    <p>I'm a creative full-stack web developer, let's make stuff happen.</p>
  </div>
  <div class="split-line-top"></div>
  <div class="split-line"></div>
  <div class="split-line-left"></div>
  <div class="nav-menu">
    <ul>
      <li><a id='about'>About</a></li>
      <li><a id='project'>Projects</a></li>
      <li><a id='contact'>Contact</a></li>
    </ul>
  </div>
</div>
<div class="about-me">
  <div class="header-text">
    <h1>About me.</h1>
  </div>
  <div class="header-info">
    <p>Currently based in Mile-End, Montréal - here's my story :</p>
  </div>
  <div class="about-line-left"></div>
  <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in" class="my-story" id="story-content">
    <ul>I was born and raised in London - I've since lived in France and Taiwan</ul>
    <ul>I quit my job last year and went all-in on my passion</ul>
    <ul>In July '18 I graduated from Le Wagon and the dots started to connect</ul>
    <ul>Clean code, collaboration and {<strong>this</strong>.TrendyFramework}</ul>
    <ul>I love <strong>beets</strong> and <em>beats.</em></ul>
  </div>
  <div class="split-line"></div>
  <div data-aos="zoom-left"
     data-aos-anchor="#story-content"
     data-aos-offset="350"
     data-aos-duration="1000" class="nav-menu">
    <ul>
      <li><a href="https://www.github.com/afyaf2" target="_blank">Github</a></li>
      <li><a href="https://drive.google.com/file/d/1S__5R5K6o9vrKY2kU0HQftC-hqYhymDG/view?usp=sharing" target="_blank">Résumé</a></li>
      <li><a href="https://www.linkedin.com/in/adam-frej-499110171/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>
<div class="project-section">
  <div class="header-text">
    <h1>My projects.</h1>
  </div>
  <div class="header-info">
    <p>Some of the work I'm most proud of. Check it out :</p>
  </div>
  <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in" class="project-info" id="project-content">
    <div class="tabcontent" id="vesper" >
      <div class="row no-gutters">
        <div class="col-xs-12 project-title">
          <h2>Vesper.</h2>
        </div>
      <div class="col-xs-12 project-details">
        <ul>
          <li>A nightlife reservations app designed to make the booking process painless and fun</li>
          <li>I was responsible for building the back end database (scraped from the Yelp API), designing the index, show page, package cards and team-member cards</li>
          <li>The stack : RubyOnRails, JavaScript, jQuery, HTML5/SCSS, Bootstrap, Heroku, Github</li>
        </ul>
      </div>
        <div class="d-flex flex-wrap justify-content-sm-start justify-content-lg-between">
          <div class="project-skill"><a href="https://github.com/afyaf2/vesper" target="_blank" style="color: white"><i class="fab fa-github"></a></i><label>Github</label></div>
          <div class="project-skill"><a href="https://www.vesper.live" target="_blank" style="color: white"><i class="fas fa-link"></i></a><label>Plan your night</label></div>
          <div class="project-skill"><i class="fab fa-html5" style="color: #E54C21"></i></div>
          <div class="project-skill"><i class="fab fa-css3" style="color: #33A8DD"></i></div>
          <div class="project-skill"><i class="fab fa-js-square" style="color: #F5DE19"></i></div>
          <div class="project-skill"><img src="https://image.ibb.co/d7Rvme/rails_icon_sm_42dfa7958abf1294cdc229cdc4d76b5bb2561a541db4db30c32dadeb8abee1c9.png"></div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="book-a-chef">
      <div class="row no-gutters">
        <div class="col-xs-12 project-title">
          <h2>Book-A-Chef.</h2>
        </div>
      <div class="col-xs-12 project-details">
        <ul>
          <li>A full-stack marketplace app for booking a chef to cook at your home</li>
          <li>I was responsible for building the back end database, designing the show page and booking modal</li>
          <li>The stack : RubyOnRails, JavaScript, jQuery, HTML5/SCSS, Bootstrap, Google Maps API, Heroku, Github</li>
        </ul>
      </div>
        <div class="d-flex flex-wrap justify-content-sm-start justify-content-lg-between">
            <div class="project-skill"><a href="https://www.github.com/afyaf2/rails-book-a-chef" target="_blank" style="color: white"><i class="fab fa-github"></a></i><label>Github</label></div>
            <div class="project-skill"><a href="https://www.book-a-chef.herokuapp.com" target="_blank" style="color: white"><i class="fas fa-link"></i></a><label>Book a chef</label></div>
            <div class="project-skill"><i class="fab fa-html5" style="color: #E54C21"></i></div>
            <div class="project-skill"><i class="fab fa-css3" style="color: #33A8DD"></i></div>
            <div class="project-skill"><i class="fab fa-js-square" style="color: #F5DE19"></i></div>
            <div class="project-skill"><img src="https://image.ibb.co/d7Rvme/rails_icon_sm_42dfa7958abf1294cdc229cdc4d76b5bb2561a541db4db30c32dadeb8abee1c9.png"></div>
        </div>
      </div>
      </div>
    <div class="tabcontent" id="slack-react">
      <div class="row no-gutters">
        <div class="col-xs-12 project-title">
          <h2>Slack-React.</h2>
        </div>
      <div class="col-xs-12 project-details">
        <ul>
          <li>An instant chat-room app modelled on Slack</li>
          <li>The user can join a room, create a room, and see a notification when another user types</li>
          <li>The stack : React, Node.Js(express), Chatkit API, Github, and Semantic UI</li>
        </ul>
      </div>
      <div class="d-flex flex-wrap justify-content-sm-start justify-content-lg-between">
        <div class="project-skill"><a href="https://www.github.com/afyaf2/react-slack" target="_blank" style="color: white"><i class="fab fa-github"></a></i><label>Github</label></div>
        <div class="project-skill"><i class="fas fa-link"></i><label>Watch demo</label></div>
        <div class="project-skill"><i class="fab fa-react" style="color:#61DAFB"></i></div>
        <div class="project-skill"><i class="fab fa-node-js" style="color: #77B063"></i></i></div>
        <div class="project-skill"><i class="fab fa-css3" style="color: #33A8DD"></i></div>
        <div class="project-skill"><img src="https://image.ibb.co/e8OKCK/semantic_logo_dc8668cacd51b03e5972a0aaf561580c80dc42d14b7e1c83c16579e68c08bb77.png" alt=""></div>
      </div>
      </div>

    </div>
  </div>
  <div class="about-line-left"></div>
  <div class="split-line"></div>
  <div data-aos="zoom-left"
     data-aos-anchor="#project-content"
     data-aos-offset="250"
     data-aos-duration="1000"
     class="nav-menu">
    <ul>
      <li><a class="tablinks" onclick="openProject(event, 'vesper')" id='defaultOpen'>Vesper</a></li>
      <li><a class="tablinks" onclick="openProject(event, 'book-a-chef')">BookAChef</a></li>
      <li><a class="tablinks" onclick="openProject(event, 'slack-react')">Slack.React</a></li>
    </ul>
  </div>
</div>
<div class="contact-me">
  <div class="header-text">
    <h1>Contact.</h1>
  </div>
  <div class="header-info">
    <p>Got an idea you want to bring to life? Get in touch.</p>
  </div>
  <div class="about-line-left"></div>
  <div class="split-line"></div>
  <div class="split-line-left"></div>
  <div data-aos="fade-right" data-aos-duration="750" data-aos-easing="ease-in" class="contact-info">
    <div class="row no-gutters">
      <div class="col-xs-12 project-details">
        <ul class="contact-details">
          <li>I can build you a beautiful website, an optimised MVP, high converting e-mail marketing templates & more!</li>
          <li>These are the best ways to reach out :</li>
          <li><a href="mailto:me@awfrej.com">me@awfrej.com</a></li>
          <li><a href="https://www.instagram.com/awfrej" target="_blank">instagram</a></li>
        </ul>
      </div>
  </div>
</div>







<script>
$("#about").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $(".about-me").offset().top
    }, 2000);
});
$("#project").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $(".project-section").offset().top
    }, 2000);
});
$("#contact").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $(".contact-me").offset().top
    }, 2000);
});

$("#defaultOpen").click();


function openProject(evt, projectName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(projectName).style.display = "block";
    evt.currentTarget.className += " active";
}

</script>




